@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create new Product
                    </a>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>List Price</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var items in Model)
                    {
                        <tr>
                            <td>@items.Title</td>
                            <td>@items.ISBN</td>
                            <td>@items.Author</td>
                            <td>@items.ListPrice</td>
                            <td>@items.Category.Name</td>
                            <td>
                                <div class="btn-group w-75" role="group">
                                    <a asp-controller="Product" asp-action="UpSert" asp-route-id="@items.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-fill"></i> Edit
                                    </a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@items.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
