@model IEnumerable<Product>

<div class="pb-3">
<div class="row pb-3 mb-3">
	@foreach(var product in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card" style="width: 18rem;">
							@if(product.ProductImage!=null && product.ProductImage.Count() > 0)
							{
								<img src="@product.ProductImage.FirstOrDefault().ProductImageUrl" class="card-img-top" alt="@product.Title">

							}
							else
							{
								<img src="https://placehold.co/500x600/png" class="card-img-top" />
							}
							<div class="card-body">
							<h4 class="card-title text-center">@product.Title</h4>
							<h6 class="card-text text-center text-info"> @product.Author</h6>
							<h6 class="card-text text-center text-opacity-75">List Price:
								<span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span></h6>
							<h6 class="card-text text-center text-opacity-75">As Low as: @product.ListPrice.ToString("c")</h6>
							<a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	</div>
</div>